.error-snackbar {
    background-color: #b82520;
    color: white;

    .mat-button {
        color: white;
    }
}

.success-snackbar {
    background-color: green;
    color: white;

    .mat-button {
        color: white;
    }
}
